[hooks]
        from-domain = sourceware.org
        mailinglist = glibc-cvs@sourceware.org

        # We do not want to force a maximum line length in commit
        # revision logs, as they get in the way of copy-pasting
        # debugging session, error messages, logs, etc.
        max-rh-line-length = 0

        # Reject merge commits on a certain number of branches:
        #  - on master: We request that people rebase their changes
        #    before pushing instead (merge commits tend to confuse
        #    git newcommers).
        #  - on release: We apply the same policy to release branches
        #    as we have on master.
        reject-merge-commits = refs/heads/master,refs/heads/release/.*

        # The URL where we can inspect the commit, inserted in the commit
        # notification email, and also copy sent to the file-commit-cmd.
        commit-url = "https://sourceware.org/git/gitweb.cgi?p=glibc.git;h=%(rev)s"

        # Only send emails for master and release branches.
        no-emails = refs/heads/(?!master|release.*)

        # Allow rebasing private branches.
        allow-non-fast-forward = refs/heads/(?!master|release.*)

        # Send a copy to bugzilla if a commit has a PR number in it.
        file-commit-cmd = "/sourceware/infra/bin/email-to-bugzilla -G 'glibc'"
        # The script that calls the irker (IRC notification of new
        # commits).  Only master and release branches apply.
        post-receive-hook = /git/glibc.git/hooks-bin/post-receive
